@* Override in your own input directory to customize the appearance of items in the full posts list *@
@* The document for the child page is passed in as the model *@

@{
    StringBuilder filePath = new StringBuilder();
    filePath.Append("output/").Append(Context.GetLink(Model)).Append(".html");
    XDocument doc = XDocument.Load(filePath.ToString());
    var content = doc.Descendants("div")
                    .Where(d => d.Attribute("id")?.Value == "content")
                    .FirstOrDefault()?.Value;
}

@if (!string.IsNullOrEmpty(content))
{
    <div class="page-box">
        <h4>@Html.DocumentLink(Model)</h4>
        <div class="font-size-sm">
            @Html.Raw(content)
        </div>
    </div>
}
