@model IDocument

@{
    var filePath = new System.Text.StringBuilder();
    filePath.Append("output").Append(Context.GetLink(Model)).Append(".html");
    var c = System.IO.File.ReadAllText(filePath.ToString());
    var start = c.IndexOf("<!-- Blog Content Start -->");
    var end = c.IndexOf("<!-- Blog Content End -->");
    c = c.Substring(start, end - start);

    @if (!string.IsNullOrEmpty(c))
    {
        <div class="font-size-sm">
            @Html.Raw(c)
        </div>
    }
}
